img.alignright
{
	float:right;
	margin-left:.5em;
	vertical-align: top;
}
img.alignleft
{
	float:left;
	margin-right:.5em;
	vertical-align: top;
}

.clearalign{
	clear:both;
}

html
{
		overflow:auto;
		height:100%;
		min-height:100%;
		background-color: #ffffff;
}
body{

	color: #000000;
	margin:0px;
	padding:0px;
	min-height:100%;
}
.uwm-header
{
	background: #FFFFFF repeat scroll 0 0 transparent;
	background: linear-gradient(to bottom, #0804a9, #ffffff) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #0804a9, #ffffff) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear,left top, left bottom, from(#0804a9), to(#ffffff)) repeat scroll 0 0 transparent;
	
    overflow: hidden;
	margin: 0;
	min-height: 85px;
	padding: 0;
	max-width: 100%;
	position:relative;
	box-shadow: 0em .5em .25em 0em #CFCFCF;
	
}
.uwm-header h1
{
    background-image: url(/AccountManagerExample/Media/Logos/Hemi_Logo.png);
    background-repeat: no-repeat;
    font-size: 18pt;
    color: #ffffff;
    height:55px;
    width:auto;
    margin-top: 5px;
    margin-bottom:5px;
    padding-left: 80px;
    padding-top:20px;
    float:left;

}
.uwm-header h2
{
    font-size: 14pt;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom:0px;
    padding-left: 80px;
    padding-top:0px;
    position:absolute;
    top: 50px;
    left:10px;
}
.uwm-header .uwm-login{
	position:absolute;
	text-align:left;
	top:2px;
	width:350px;
	left:80px;
	height: 26px;
	padding: 0em;
}

.uwm-controls
{
    position:absolute;
    width: 200px;
    right: 10px;
    top:50px;
    text-align: right;
}
.uwm-controls a
{
    text-decoration: none;
    color: #FFFFFF;
    font: bold 10pt Arial;
    text-shadow: 0px 1px 0px #505050;
}
.uwm-content
{
	margin-left:10%;
	margin-right:10%;
    width: 80%;
    overflow:auto;
}
.uwm-content .uwm-content-section,.uwm-footer .uwm-content-section
{
    width: auto;
    /*min-height: 100px;*/
    /*float:left;*/
    
    /*margin: 0px 0px 5px 10px;*/
    margin: 0em 1em 1em .5em;
    /*overflow: auto;*/
    clear:both;
    padding: 0px;
	background: #FFFFFF repeat scroll 0 0 transparent;
	background: linear-gradient(to bottom , #FFFFFF, #EFEFEF) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear,left top, left bottom, from(#FFFFFF), to(#EFEFEF)) repeat scroll 0 0 transparent;

}
.uwm-content .uwm-content-section h1
{
    color: #505050;
    font: normal 1.7em Arial;

    padding-left: .2em;
    margin: .2em;
}
.uwm-content .uwm-content-section h2
{
    color: #505050;
    font: normal 1.5em Arial;
    border-bottom: .1em dotted #505050;
    padding-left: .5em;
    margin: .2em;
    margin-bottom:.5em;
}
.uwm-content .uwm-content-section h3
{
    color: #505050;
    font: normal 1.3em Arial;
    border-bottom: .1em dotted #505050;
    padding-left: .5em;
    margin: .2em;
    margin-bottom:.5em;
}
.uwm-content .uwm-content-section p
{
	font: normal 1em Arial;
	padding-left:1em;
	text-indent: 2em;
	line-height: 1.5em;
	margin: .5em;
}
.uwm-content .uwm-content-section iframe
{
    border: 0px solid #000000;
    width:100%;
    height: 235px;
}
.uwm-footer
{
	padding: 0px;
	clear:both;
	margin-left:10%;
	margin-right:10%;
    width: 80%;
}
.uwm-notes
{
   	margin: 0px;
	overflow:auto;
	height:235px;
	width:100%;
	background-color: #FFFFEF;
}
.uwm-navback{
	float:left;
	margin-left:.2em;
	margin-top:1em;
}
.uwm-navforward{
	float:right;
	margin-right: .2em;
	margin-top:1em;
}
.uwm-info-font
{
    font: normal 8pt Times;
}
/*
.uwm-box-border-curl
{
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 7px;
    border: 1px solid #000099;
}
*/
.uwm-box-border
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #777777;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #666666;
}
.uwm-box-shadow
{
	-moz-box-shadow: .25em .25em .25em 0em #CFCFCF;
	box-shadow: .25em .25em .25em 0em #CFCFCF;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}
.uwm-field-container
{
	
}
.uwm-field-container label{
	width:125px;
}
ul.uwm-content-index{
	margin-top:0px;
	margin-bottom:0px;
	padding: 0px;
	text-align: center;
	margin-left: .5em;
}
ul.uwm-content-index li{
	text-align: left;
	margin-left: 0px;
	margin-top: .5em;
	list-style-type: none;
	padding-right: 1em;
}
ul.uwm-content-index li a
{
	text-decoration: none;
	color: #333300;
}
ul.uwm-content-sub-index{
	margin: 0px;
	padding: 0px;
}

ul.uwm-content-sub-index li{
	margin-top: 0px;
	list-style-type: none;
	padding-right: 1em;
}
img.uwm-index-link{
	border-width: 0px;
	margin-right: 1em;
}
div.uwm-content-meta{
	margin-top: 4px;
	margin-bottom: 2px;
	margin-left: 10px;
	font-size:10pt;
	color:#303030;
}
div.uwm-copyright{
	padding: 1em;
	text-align:center;
	font-size:1em;
	color:#303030;
}

div.uwm-content-meta p{
	margin: .2em 1em .2em 1em !important;
	color: #505050;
}
ul.uwm-menu-header{
	float:right;
	margin-top:5px !important;	
}
ul.uwm-menu
{
	/*background-color: #FFFFFF;*/
	margin: 0px;
	padding: 0px;
	height:75px;
	position: relative;
	list-style: none;
	/*
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius:  0px;
	border-bottom: 1px solid #CFCFCF;
	*/
	text-align:center;
	
}
ul.uwm-menu li
{
	text-align: center;
	/*background-color: #FFFFFF;*/
	margin: 5px 0px 0px 5px;
	padding:0px;
	/*float:left;*/
	display:inline-block;
	background-position:top center;
	background-repeat:no-repeat;
}
ul.uwm-menu li a
{
	font: normal 8pt Arial;
	color: #303030;
	display:block;
	width:65px;
	padding-top: 50px;
	border:.1em solid transparent;
	text-decoration: none;
}
ul.uwm-menu li a:hover
{
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	border: .1em solid #AAAAFF;
	color: #0000FF;
}

ul.uwm-menu li.uwm-home
{
	background-image: url(../Media/Icons/Crystal/48x48/48px-Crystal_Clear_action_gohome.png);
}

ul.uwm-menu li.uwm-blog
{
	background-image: url(../Media/Icons/Crystal/48x48/App-edit-icon.png);
}
ul.uwm-menu li.uwm-hemi
{
	background-image: url(../Media/Icons/Hemi_Logo_48x48.png);
}
ul.uwm-menu li.uwm-documents
{
		background-image: url(../Media/Icons/Crystal/48x48/48px-Crystal_Clear_mimetype_kmultiple.png);
}
ul.uwm-menu li.uwm-document
{
		background-image: url(../Media/Icons/Crystal/48x48/48px-Crystal_Clear_action_filenew.png);
}
ul.uwm-menu li.uwm-email
{
		background-image: url(../Media/Icons/Crystal/48x48/App-email-icon.png);
}
ul.uwm-menu li.uwm-projects{
	background-image: url(../Media/Icons/Crystal/48x48/48px-Crystal_Clear_app_package_settings.png);
}
.uwm-inline-buttons img{
	width: 24px;
	height: 24px;
	border: 1px dotted transparent;
}
.uwm-inline-buttons img:hover{
	border: 1px outset #CFCFCF;
}
input.uwm-inline-button{
	width: 24px;
	height: 24px;
	border: 1px dotted transparent;
	background-color:transparent;
    background-repeat:no-repeat;
	
}
input.uwm-inline-button:hover{
	border: 1px outset #CFCFCF;
}
input.uwm-inline-button-cancel
{
    background-image: url(../Media/Icons/Crystal/24x24/Crystal_Clear_action_button_cancel.png);
}
input.uwm-inline-button-info
{
    background-image: url(../Media/Icons/Crystal/24x24/Crystal_Clear_action_info.png);
}
input.uwm-inline-button-app-database
{
    background-image: url(../Media/Icons/Crystal/24x24/48px-Crystal_Clear_app_database.png);
}
input.uwm-inline-button-bookmark-silver
{
    background-image: url(../Media/Icons/Crystal/24x24/Crystal_Clear_action_bookmark_Silver.png);
}
input.uwm-inline-button-bookmark
{
    background-image: url(../Media/Icons/Crystal/24x24/Crystal_Clear_action_bookmark.png);
}
input.uwm-inline-button-clean
{
    background-image: url(../Media/Icons/Crystal/24x24/Crystal_Clear_app_clean.png);
}
input.uwm-inline-button-logout
{
    background-image: url(../Media/Icons/Crystal/24x24/Crystal_Clear_app_logout.png);
}
input.uwm-inline-button-clock
{
    background-image: url(../Media/Icons/Crystal/24x24/Crystal_Clear_app_xclock.png);
}
input.uwm-inline-button-trash-empty
{
    background-image: url(../Media/Icons/Crystal/24x24/Crystal_Clear_filesystem_trashcan_empty.png);
}
input.uwm-inline-button-restart
{
    background-image: url(../Media/Icons/Crystal/24x24/Quick_restart.png);
}
input.uwm-inline-button-broken
{
    background-image: url(../Media/Icons/Crystal/24x24/Crystal_Clear_filesystem_file_broken.png);
}





/* Need to Refactor Names for Legacy Styles */
p.poetry-line{
	margin-left: 2em;
	margin-right: 2em;
	border-bottom: 1px solid #EFEFEF;
}
p.poetry-line-break{
	height: 1.3em;
	margin-top: 1.3em;
}

.codeblock{
	margin-left: 3em;
	margin-right: 3em;
	font-size: 1em;
	background-color: #EFEFEF;
	color: #505050;
	font-family: courier;
}
.dialogue{
	font-family: times;
	color: #000099;
}
