<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   xmlns="http://xmlns.jcp.org/xml/ns/javaee"  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"  id="WebApp_ID" version="3.1">
    <display-name>AccountManagerService</display-name>
    <module-name>AccountManagerService</module-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
 	<context-param>
 	<param-name>log4jContextName</param-name>
 	<param-value>AccountManagerService</param-value>
 	</context-param>
 	 	<context-param>
 	<param-name>log4jConfiguration</param-name>
 	<param-value>WEB-INF/resource/AccountManagerServiceLogging.xml</param-value>
 	</context-param>
 	<context-param>
 	<param-name>amauthrole</param-name>
 	<param-value>AccountUsers</param-value>
 	</context-param>
 	 	<context-param>
 	<param-name>amrolemap</param-name>
 	<param-value>WEB-INF/resource/roleMap.json</param-value>
 	</context-param>
 	<context-param>
 	<param-name>isLog4jAutoInitializationDisabled</param-name>
 	<param-value>false</param-value>
 	</context-param>
 	 	 <context-param>
    <description>Additional Factories</description>
    <param-name>factories.add</param-name>
    <param-value>org.cote.rocket.Factories</param-value>
  </context-param>
 	 <context-param>
    <description>Database Connection Type</description>
    <param-name>database.conntype</param-name>
    <param-value>jndi</param-value>
  </context-param>
  <context-param>
    <description>Database Driver</description>
    <param-name>database.driver</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </context-param>
  <context-param>
    <description>Database Driver</description>
    <param-name>database.drivercheck</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>Database Connection Type</description>
    <param-name>database.dsname</param-name>
    <param-value>comp/env/tomcat/datasources/postgresDS</param-value>
  </context-param>
 	<context-param>
    <description>Enable Use of Data Pointers</description>
    <param-name>data.pointers.enabled</param-name>
    <param-value>true</param-value>
  </context-param>
 	

 <filter>
   <filter-name>AuthNFilter</filter-name>
   <filter-class>org.cote.jaas.TokenFilter</filter-class>
   <init-param>
	  <param-name>enabled</param-name>
	  <param-value>True</param-value>
   </init-param>
</filter>
<filter-mapping>
   <filter-name>AuthNFilter</filter-name>
   <url-pattern>/rest/*</url-pattern>
</filter-mapping>

    <servlet>
        <servlet-name>JerseyService</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>org.cote.rest.services,com.fasterxml.jackson.jaxrs</param-value>
        </init-param>
        <init-param>
        <param-name>javax.ws.rs.Application</param-name>
        <param-value>org.cote.rest.config.RestServiceConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet>
    <display-name>MediaFormServlet</display-name>
    <servlet-name>MediaFormServlet</servlet-name>
    <servlet-class>org.cote.servlets.MediaFormServlet</servlet-class>
    <enabled>true</enabled>
    <async-supported>false</async-supported>
  </servlet>
  <servlet>
    <display-name>MediaServlet</display-name>
    <servlet-name>MediaServlet</servlet-name>
    <servlet-class>org.cote.servlets.MediaServlet</servlet-class>
    <enabled>true</enabled>
    <async-supported>false</async-supported>
  </servlet>
  <servlet>
    <display-name>ThumbnailServlet</display-name>
    <servlet-name>ThumbnailServlet</servlet-name>
    <servlet-class>org.cote.servlets.ThumbnailServlet</servlet-class>
    <enabled>true</enabled>
    <async-supported>false</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>MediaFormServlet</servlet-name>
    <url-pattern>/mediaForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MediaServlet</servlet-name>
    <url-pattern>/media/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThumbnailServlet</servlet-name>
    <url-pattern>/thumbnail/*</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JerseyService</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <resource-ref>
    <description>DB Connection Pooling</description>
      <res-ref-name>tomcat/datasources/postgresDS</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
</resource-ref>
	
	<security-constraint>
	  <web-resource-collection>
	    <web-resource-name>Admin</web-resource-name>
	    <url-pattern>/Protected/*</url-pattern>
	  </web-resource-collection>
	  <auth-constraint>
	    <role-name>admin</role-name>
	    <role-name>user</role-name>
	  </auth-constraint>
	</security-constraint>
	
	<security-role>
	  <role-name>admin</role-name>
	</security-role>
	<security-role>
	  <role-name>user</role-name>
	</security-role>	
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Default</realm-name>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/loginError.html</form-error-page>
		</form-login-config>
	</login-config>

</web-app>