<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" version="3.0">
  <display-name>AccountManager</display-name>
  <context-param>
    <param-name>role.mapping.dynamic</param-name>
    <param-value>true</param-value>
  </context-param>
  
  <context-param>
    <description>Default Organization</description>
    <param-name>organization.default</param-name>
    <param-value>/Public</param-value>
  </context-param>

  <context-param>
    <description>Registration Enabled</description>
    <param-name>registration.enabled</param-name>
    <param-value>true</param-value>
  </context-param>
   <context-param>
    <description>IP Limit Enabled</description>
    <param-name>registration.ip.limit</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <description>Feedback User</description>
    <param-name>feedback.user</param-name>
    <param-value>FeedbackUser</param-value>
  </context-param>

  <context-param>
    <description>Test Registration Enabled</description>
    <param-name>test.registration.enabled</param-name>
    <param-value>false</param-value>
  </context-param>

  <context-param>
    <description>Article Template</description>
    <param-name>template.article</param-name>
    <param-value>articleTemplate.xhtml</param-value>
  </context-param>

  <context-param>
    <description>Article Template</description>
    <param-name>template.article.meta</param-name>
    <param-value>articleMetaDataTemplate.xhtml</param-value>
  </context-param>


  <context-param>
    <description>Restrict Image Size</description>
    <param-name>image.restrict.size</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>Enable Extended Attributes</description>
    <param-name>extended.attributes.enabled</param-name>
    <param-value>true</param-value>
  </context-param>
<context-param>
    <description>Enable Use of Data Pointers</description>
    <param-name>data.pointers.enabled</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>Maximum Image Width</description>
    <param-name>image.maximum.width</param-name>
    <param-value>1024</param-value>
  </context-param>

  <context-param>
    <description>Maximum Image Height</description>
    <param-name>image.maximum.height</param-name>
    <param-value>1024</param-value>
  </context-param>
  
   <context-param>
    <description>Article Section Template</description>
    <param-name>template.article.section</param-name>
    <param-value>articleSectionTemplate.xhtml</param-value>
  </context-param>
  
     <context-param>
    <description>Article Nav Forward Template</description>
    <param-name>template.article.navforward</param-name>
    <param-value>articleNavForwardTemplate.xhtml</param-value>
  </context-param>

     <context-param>
    <description>Article Nav Backward Template</description>
    <param-name>template.article.navback</param-name>
    <param-value>articleNavBackTemplate.xhtml</param-value>
  </context-param>  

  <context-param>
    <description>SSL Login Only</description>
    <param-name>ssl.login.required</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <description>Database Connection Type</description>
    <param-name>database.conntype</param-name>
    <param-value>jndi</param-value>
  </context-param>
  <context-param>
    <description>Database Driver</description>
    <param-name>database.driver</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </context-param>
  <context-param>
    <description>Database Driver</description>
    <param-name>database.drivercheck</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>Database Connection Type</description>
    <param-name>database.dsname</param-name>
    <param-value>jboss/datasources/postgresDS</param-value>
  </context-param>
  <listener>
    <listener-class>org.cote.rest.listeners.AccountManagerFactoryInit
		</listener-class>
  </listener>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>JerseyService</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages;org.codehaus.jackson.jaxrs</param-name>
      <param-value>org.cote.rest.services</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>AccountManagerServletInit</display-name>
    <servlet-name>AccountManagerServletInit</servlet-name>
    <servlet-class>org.cote.rest.servlets.AccountManagerServletInit
		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>MediaFormServlet</display-name>
    <servlet-name>MediaFormServlet</servlet-name>
    <servlet-class>org.cote.rest.servlets.MediaFormServlet</servlet-class>
    <enabled>true</enabled>
    <async-supported>false</async-supported>
  </servlet>
  <servlet>
    <display-name>MediaServlet</display-name>
    <servlet-name>MediaServlet</servlet-name>
    <servlet-class>org.cote.rest.servlets.MediaServlet</servlet-class>
    <enabled>true</enabled>
    <async-supported>false</async-supported>
  </servlet>
  <servlet>
    <display-name>ThumbnailServlet</display-name>
    <servlet-name>ThumbnailServlet</servlet-name>
    <servlet-class>org.cote.rest.servlets.ThumbnailServlet</servlet-class>
    <enabled>true</enabled>
    <async-supported>false</async-supported>
  </servlet>
  <servlet>
    <display-name>AccountManagerLogoutServlet</display-name>
    <servlet-name>AccountManagerLogoutServlet</servlet-name>
    <servlet-class>org.cote.rest.servlets.AccountManagerLogoutServlet
		</servlet-class>
    <enabled>true</enabled>
    <async-supported>false</async-supported>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>EAIServlet</display-name>
    <servlet-name>EAIServlet</servlet-name>
    <servlet-class>org.cote.rest.services.EAIServlet</servlet-class>
    <enabled>true</enabled>
    <async-supported>false</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JerseyService</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountManagerServletInit</servlet-name>
    <url-pattern>/AccountManagerServletInit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MediaFormServlet</servlet-name>
    <url-pattern>/mediaForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MediaServlet</servlet-name>
    <url-pattern>/Media/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThumbnailServlet</servlet-name>
    <url-pattern>/Thumbnail/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountManagerLogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EAIServlet</servlet-name>
    <url-pattern>
		/eai</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EAIServlet</servlet-name>
    <url-pattern>
		/EAIServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config>
      <path>/</path>
    </cookie-config>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure Content</web-resource-name>
      <url-pattern>/restrictedPage.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>AuthorizedUser</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure Content</web-resource-name>
      <url-pattern>/restrictedPage2.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>AccountUsers</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>AccountManager5</realm-name>
    <form-login-config>
      <form-login-page>/jbossLogin.html</form-login-page>
      <form-error-page>/jbossLoginErrors.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description>The role required to access restricted content
		</description>
    <role-name>AuthorizedUser</role-name>
  </security-role>
  <security-role>
    <description>The AM role of an authenticated user.
		</description>
    <role-name>AccountUsers</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>BlogServlet</display-name>
    <servlet-name>BlogServlet</servlet-name>
    <servlet-class>org.cote.rest.servlets.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogServlet</servlet-name>
    <url-pattern>/Blog/*</url-pattern>
  </servlet-mapping>
</web-app>